.button {
  @include rems(padding, 1, 2);
  display: inline-block;
  background: $primary;
  color: $secondary;
  @include rems(border-radius, 0.4);
  text-decoration: none;
  transition: 0.4s all ease;
  @include font-size(1.4, 2.4);
  text-transform: uppercase;
  @include rems(letter-spacing, 0.2);

  &:hover {
    opacity: 0.9;
  }

  &.inverse {
    background: $secondary;
    color: $primary;
  }

  &.large {
    @include rems(padding, 1, 4);
  }
}
