.feature-section {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;

  @media #{$phone} {
    text-align: center;
  }

  .container {
    display: flex;
    align-items: center;
    @include rems(min-height, 80);

    @media #{$phone} {
      @include rems(min-height, 60);
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include rems(max-width, 60);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.6);

    @media #{$phone} {
      align-items: center;
    }
  }
}
