footer {
  .split-logo {
    position: relative;
    @include rems(height, 9);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include rems(margin, -4, 0, 4);

    @media #{$phone} {
      @include rems(margin, 0, 0, 8);
      @include rems(height, 4.5);
      flex-wrap: wrap;
    }

    .logo-left,
    .logo-right {
      @include rems(width, 16);
      @include rems(height, 9);
      position: absolute;
      top: 0;

      @media #{$phone} {
        position: static;
        @include rems(height, 4.5);
        width: 50%;
        @include rems(margin-bottom, 1);
      }
    }

    .logo-left {
      background: url('images/logo-left.png') #292929 center right no-repeat;
      background-size: contain;
      left: 50%;
      transform: translateX(-100%);

      @media #{$phone} {
        transform: none;
      }
    }

    .logo-right {
      background: url('images/logo-right.png') #292929 center left no-repeat;
      background-size: contain;
      right: 50%;
      transform: translateX(100%);

      @media #{$phone} {
        transform: none;
      }
    }

    &.visible {
      .logo-left {
        animation: animate-ctl 3s ease forwards;
      }

      .logo-right {
        animation: animate-ctr 3s ease forwards;
      }
    }
  }

  .footer-main {
    background: #292929;
    color: $secondary;
    @include font-size(1.4, 2.2);

    .footer-columns {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      @media #{$phone} {
        flex-direction: column;
      }

      & > * {
        @include rems(margin-right, 8);

        @media #{$phone} {
          @include rems(margin, 0, 0, 4);
          width: 100%;
        }

        img {
          @include rems(max-width, 24);
        }

        &:last-child {
          margin: 0 0 0 auto;
        }
      }
    }
  }

  .footnote {
    text-align: center;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate-ctl {
  0% {
    left: 50%;
    transform: translateX(-100%);
  }
  100% {
    left: 0;
    transform: translateX(0);
  }
}

@keyframes animate-ctr {
  0% {
    right: 50%;
    transform: translateX(100%);
  }
  100% {
    right: 0;
    transform: translateX(0);
  }
}
