.form-split {
	@include clearfix;
	margin-bottom: 2%;
	aside {
		@include rowMachine(2, 2%);
		padding: 0!important;
		input[type=email], input[type=text], input[type=tel], textarea {
			margin-bottom: 0;
		}
	}
}
fieldset {
	border: none;
}
input[type=email], input[type=text], input[type=tel], input[type=password], input[type=number], textarea {
	width: 100%;
	@include box;
	@include rems(padding, 0.5, 1);
	-webkit-appearance: none;
	border-radius: 0;
	margin-bottom: 2%;
	outline: none;

	// Custom Styles
  color: $secondary;
	background: none;
	font-family: 'Montserrat', sans-serif;
	@include font-size(1.4, 2.2);
  border: none;
}
input[type="submit"] {
	text-decoration: none;
	@include hover;
	cursor: pointer;
	outline: none;
	border-radius: 0;
	-webkit-appearance: none;

	// Custom Styles
	background: none;
	color: $secondary;
	font-weight: 700;
	@include rems(padding, 0.5, 1);
	border: none;
  font-family: 'Montserrat', sans-serif;
	@include font-size(1.4, 2.2);
}
select {
	background-image: url('images/select@2x.png');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 45px auto;
	background-size: 4.5rem auto;
	@include rems(padding, 1, 5.2, 1, 1);
	width: 100%;
	@include box;
	-webkit-appearance: none;
	   -moz-appearance: none;
	border-radius: 0;
	margin-bottom: 2%;
	outline: none;

	// Custom Styles

	background-color: #fff;
	font-family: aktiv-grotesk, sans-serif;
	@include font-size(1.6, 2.2);
	border: 1px solid #fff;
	color: #333;
}
select::-ms-expand {
    display: none;
}
form {
	.form {
    display: flex;
    border-bottom: 1px solid $secondary;
    @include rems(margin-bottom, 0.4);

    .your-email {
      flex-grow: 1;
    }

    .ajax-loader {
      display: none;
    }

    & ~ p {
      text-align: right;
    }
  }
}
