body {
  font-family: 'Montserrat', sans-serif;
  @include font-size(1.6, 2.4);
  -webkit-text-size-adjust: none;
}

.container {
	@include rems(max-width, 120);

	&.main {
		@include rems(padding, 4, 0);
	}

  &.wide {
    max-width: 100%;
  }

  &.narrow {
    @include rems(max-width, 80);
  }

  &.main {
    @include rems(padding, 4, 0);

    @include rems(padding, 2, 0);
  }

  &.ultra {
    @include rems(padding, 8, 0);

    @media #{$phone} {
      @include rems(padding, 4, 0);
    }
  }
}

.page-content {
	position: relative;
	min-height: 100%;
}

.acf-map {
	@include rems(height, 40);
}

img {
	&.alignright, &.alignleft {
		display: block;
		@include rems(margin-bottom, 2);
	}

	&.alignright {
		float: right;
		@include rems(margin-left, 2);
	}

	&.alignleft {
		float: left;
		@include rems(margin-right, 2);
	}

	&.aligncenter {
		margin: 0 auto;
		@include rems(margin-bottom, 2);
		display: block;
	}
}
