header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .banner {
    background: $primary;
    color: $secondary;
    text-transform: uppercase;
    @include rems(padding, 0.5, 0);
    text-align: center;
    @include rems(letter-spacing, 0.2);
    @include font-size(1.4, 2.2);
  }

  .main {
    text-align: center;
    @include rems(padding, 2, 0);

    .container {
      display: flex;
      justify-content: center;
    }

    h1,
    h2 {
      background: url('images/main-logo@2x.png') center center no-repeat;
      background-size: contain;
      width: 100%;
      @include rems(height, 2.8);
      @include rems(max-width, 9.2);
      text-indent: -10000px;

      a {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
