.icon-section {
  .icon-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include rems(margin, 0, -4);

    @media #{$phone} {
      @include rems(margin, 0, -2);
    }

    li {
      @include box;
      @include rowMachine(6, 0);
      @include rems(padding, 0, 4);
      text-align: center;

      @media #{$phone} {
        @include rowMachine(3, 0);
        @include rems(padding, 2);
      }
    }

    img {
      display: inline-block;
    }
  }
}
