.image-section {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;

  .container {
    display: flex;
    align-items: center;
    @include rems(min-height, 60);
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include rems(max-width, 60);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  }
}
