.logo-section {
  background: $tertiary;

  .logo-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include rems(margin, 0, -2);

    @media #{$phone} {
      margin: 0;
    }

    li {
      @include rowMachine(5, 0);
      @include rems(padding, 0, 2);
      display: flex;
      justify-content: center;

      @media #{$phone} {
        padding: 0;
        width: 100%;
      }
    }

    img {
      display: block;
    }
  }
}
