nav {
  a {
    color: $secondary;
    text-decoration: none;
    transition: 0.4s all ease;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid $secondary;
    }
  }
}
