.reviews-section {
  text-align: center;

  .reviews-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include rems(margin, 0, -4);

    @media #{$phone} {
      display: block;
      margin: 0;
    }

    .review {
      @include rowMachine(3, 0);
      @include rems(padding, 0, 4);

      @media #{$phone} {
        width: 100%;
        @include rems(padding, 2, 0);

        .review-body {
          @include rems(padding, 0, 4);
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .star-rating {
    @include rems(margin-bottom, 2);

    i {
      @include font-size(2, 2);
    }

    &-5 {
      i {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          color: #f7c244;
        }
      }
    }

    &-4 {
      i {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          color: #f7c244;
        }
      }
    }

    &-3 {
      i {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          color: #f7c244;
        }
      }
    }

    &-2 {
      i {
        &:nth-child(1),
        &:nth-child(2) {
          color: #f7c244;
        }
      }
    }

    &-1 {
      i {
        &:nth-child(1) {
          color: #f7c244;
        }
      }
    }
  }
}
