.bx-wrapper {
  position: relative;
}

.bx-next,
.bx-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @include font-size(2, 2);
  color: #7c7c7c;
}

.bx-prev {
  left: 0;
}

.bx-next {
  right: 0;
}
