.stats-section {
  text-align: center;

  .stats-roundels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include rems(margin, 0, -4);

    @media #{$phone} {
      flex-direction: column;
      margin: 0;
    }

    .stat-roundel {
      @include rowMachine(3, 0);
      @include rems(padding, 0, 4);

      @media #{$phone} {
        width: 100%;
        @include rems(padding, 2, 0);
      }
    }
  }
}

.rect-auto,
.percircle.gt50 .slice {
  clip: rect(auto, auto, auto, auto);
}
.pie,
.percircle .bar,
.gt50 .fill {
  position: absolute;
  border: 10px solid $primary;
  @include rems(width, 13);
  @include rems(height, 13);
  clip: rect(0, 7.5rem, 15rem, 0);
  border-radius: 50%;
  transform: rotate(0deg);
}
.bar {
  backface-visibility: hidden;
}
.pie-fill,
.gt50 .bar:after,
.gt50 .fill {
  transform: rotate(180deg);
}
.percircle {
  position: relative;
  border-radius: 50%;
  background-color: $tertiary;
  @include rems(width, 15);
  @include rems(height, 15);
  margin: 0 auto;
  @include rems(margin-bottom, 2);
}
.percircle *,
.percircle *:before,
.percircle *:after {
  box-sizing: content-box;
}
.percircle.animate > span,
.percircle.animate:after {
  transition: transform 0.2s ease-in-out;
}
.percircle.animate .bar {
  transition: transform 0.6s ease-in-out;
}
.percircle.center {
  float: none;
  margin: 0 auto;
}
.percircle > span {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  text-align: center;
  white-space: nowrap;
  @include font-size(3.2, 15);
}

.perclock > span {
  font-size: 0.175em;
}

.percircle:after {
  position: absolute;
  @include rems(top, 1);
  @include rems(left, 1);
  display: block;
  content: " ";
  border-radius: 50%;
  background-color: #fff;
  @include rems(width, 13);
  @include rems(height, 13);
}
.percircle .slice {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(0, 15rem, 15rem, 7.5rem);
}
.percircle:hover {
  cursor: default;
}
