h1,
h2 {
  text-transform: uppercase;
  font-weight: 500;
}

h1 {
  @include font-size(3.2, 4.8);
  @include rems(margin-bottom, 2);
  @include rems(letter-spacing, 1);

  &:last-child {
    margin-bottom: 0;
  }
}

h2 {
  @include font-size(2.4, 3.2);
  @include rems(margin-bottom, 2);
  @include rems(letter-spacing, 0.6);

  &.section-title {
    @include rems(margin-bottom, 8);

    @media #{$phone} {
      @include rems(margin-bottom, 2);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h3 {
  font-weight: 600;
  text-transform: uppercase;
  @include font-size(1.6, 2.4);
  @include rems(margin-bottom, 2);
  @include rems(letter-spacing, 0.4);

  footer & {
    @include font-size(1.4, 2.2);
    @include rems(margin-bottom, 1);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h4 {
  @include font-size(2, 2.8);
  font-weight: 500;
  @include rems(margin-bottom, 2);

  footer & {
    @include font-size(1.4, 2.2);
    @include rems(margin-bottom, 1);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

p {
	@include rems(margin-bottom, 2);

  &:last-child {
    margin-bottom: 0;
  }

  &.footnote {
    @include font-size(1.4, 2.2);
  }
}

strong {
  font-weight: 500;
}
